body{
    background-image: linear-gradient(to left, #34e89e, #0f3443);
}

.label-input label, input{
    display: block;
    margin-top: 5px;
    margin-bottom: 1px;
}

legend{
    font-size: 32px;
    font-family: cursive;
    color: white;
}

.container{
    height: 600px;
    width: 400px;
    background: linear-gradient(45deg , rgb(63, 63, 63) , rgb(34, 34, 34) , rgb(54, 54, 54) );
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 1px 1px 5px black;
    padding-top: 2px;
}

#subscribe-fieldset{
width: 280px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;;
border-color: olivedrab;
border-width: 2px;
box-shadow: 1px 1px 2px black;
border-radius: 20px;
height: 500px;

}

.label-input label{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: cursive;
    font-weight: 500;
    text-shadow: 1px 1px 1px #0f3443;
}

.label-input input{
    outline: none;
    height: 19px;
    width: 250px;
    border-radius: 2px;
    padding-left: 5px;
    background-color: #3d4142;
    color: white;
    border: none ;
}

.line{
    width: 0%;
    height: 2px;
    transition: 1s;
}

.label-input input:focus + .line{
width: 91%;
background-color: goldenrod;
}


.label-input{
    margin-top: 25px;
}

select{
    width: 260px;
    height: 25px;
    border-radius: 5px;
    background-color: #3d4142;
    color: white;
    outline: none;
    outline: 9px white;
}

#subscribe{
    width: 200px;
    height: 30px;
    background-color: goldenrod;
    color: white;
    font-size: 20px;
    font-family: cursive;
    margin-top: 15px;
    margin-left: 35px;
    padding-top: 0px;
    padding-bottom: 10px;
    transition: 1s;
    border-radius: 10px;
}

#subscribe:hover{
    cursor: pointer;
    background-color: white;
    transition: 1s;
    color: goldenrod;
    border-radius: 5px;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.container:hover{
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
    
}   

